* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}
/* font-family: 'Nunito Sans', sans-serif; normal */
@font-face {
   font-family: "Montserrat-Medium";
   font-display: swap;
   src: url("../fonts/Montserrat-Medium.otf");
   src: local("O"), url("../fonts/Montserrat-Medium.woff") format("woff"),
      url("../fonts/Montserrat-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}
body {
   font-family: "Montserrat-Medium";
   font-weight: 500;
   font-size: 12px;
   width: 1366px;
   margin: 0 auto;
}
.header {
   height: 670px;
   background-image: url(../images/heder2.jpg);
   background-size: 1366px 670px;

   &__nav {
      max-width: 1195px;
      margin: 0 auto;
   }
}
.list {
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
   height: 56px;
   a {
      background-color: rgba(252, 240, 255, 0.753);
      border-radius: 3px;
      padding: 3px 7px;
      color: rgba(#111, 0.8);
      text-transform: uppercase;
      font-weight: 600;
      transition: background 0.3s linear;
   }
   a:hover {
      background-color: rgba(236, 161, 236, 0.609);
      color: rgba(rgb(101, 12, 139), 0.6);
   }
   li img {
      padding-right: 523px;
   }
}
.aside {
   display: block;
   position: relative;
   text-align: center;
   left: 765px;
   top: 180px;
   max-width: 484px;
   background-color: rgba(252, 240, 255, 0.753);
   padding: 0 8px;
}
.subject {
   font-size: 38px;
   line-height: 48px;
   color: #1d1d1d;
   font-weight: 700;
   padding-bottom: 30px;
}
.lead {
   font-family: "Nunito Sans", sans-serif;
   font-size: 18px;
   line-height: 28px;
   color: #787878;
   padding-bottom: 60px;
}
.btn {
   display: inline-block;
   padding: 22px 44px;
   background-color: #10c9c3;
   border-radius: 3px;
   /* background-color: radial-gradient(#10c9c3 #00ada7); */
   color: #ffffff;
   text-transform: uppercase;
   letter-spacing: 2px;
   transition: background 0.2s linear;
}
.btn:hover {
   background-color: #30aaa8d7;
   color: rgba(#111, 0.4);
}
.about {
   background-color: rgba(243, 251, 196, 0.356);
   height: 420px;
   &__inner {
      display: flex;
      max-width: 620px;
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
   }
   &__lead {
      font-family: "Nunito Sans", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #787878;
      margin: auto;
      padding-bottom: 20px;
      margin-bottom: 20px;
   }
   img {
      margin: 0 auto;
   }
}
.caption {
   font-size: 30px;
   color: #191919;
   font-weight: 700;
   margin: auto;
   margin-top: 98px;
   margin-bottom: 35px;
}
.skills {
   height: 570px;
   background-color: beige;
   padding-bottom: 1px;
   background-image: url(../images/skils1.jpg);
   background-repeat: no-repeat;
   background-position: right bottom 1px;

   &__inner {
      display: inline-block;
      width: 510px;
      /* height: 246px; */
      margin-left: 98px;
      padding-top: 155px;
   }
   &__lead {
      font-size: 30px;
      color: #171717;
      margin-bottom: 37px;
      font-weight: 700;
   }

   &__list {
      font-size: 12px;
      color: #000000;
      text-transform: uppercase;
      letter-spacing: 2px;
      li {
         margin-bottom: 18px;
      }
      img {
         margin-bottom: 40px;
      }
   }
}
.information {
   height: 240px;
   background-color: #10c9c3;
   &__list {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 1366px;
      height: 240px;
      margin: 0 0 0 32px;
   }
}
.point {
   color: #ffffff;
   text-transform: uppercase;
   letter-spacing: 2px;
   span {
      font-size: 18px;
      line-height: 45px;
   }
}
.r:before {
   content: "";
   background-image: url(../images/548.png);
   width: 40px;
   height: 40px;
   position: absolute;
   left: 30px;
   top: 107px;
}
.r1:before {
   content: "";
   background-image: url(../images/1465.png);
   width: 40px;
   height: 40px;
   position: absolute;
   left: 400px;
   top: 108px;
}
.r2:before {
   content: "";
   background-image: url(../images/star.png);
   width: 44px;
   height: 41px;
   position: absolute;
   left: 720px;
   top: 106px;
}
.r3:before {
   content: "";
   background-image: url(../images/hiart.png);
   width: 40px;
   height: 35px;
   position: absolute;
   left: 1080px;
   top: 110px;
}
.portfolio1 {
   height: 700px;
   
}
/**.grid {
   display: grid;
   grid-template-columns: repeat(4, auto);
   grid-template-rows: 1fr 1fr;
   gap: 3px;
   max-width: 1366px;
   height: 700px;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   &__1 {
      grid-column: 1/2;
      grid-row: 1/2;
   }
   &__2 {
      grid-column: 2/3;
      grid-row: 1/2;
   }
   &__3 {
      grid-column: 3/4;
      grid-row: 1/2;
   }
   &__4 {
      grid-column: 4/5;
      grid-row: 1/2;
   }
   &__5 {
      grid-column: 1/2;
      grid-row: 2/3;
   }
   &__6 {
      grid-column: 2/3;
      grid-row: 2/3;
   }
   &__7 {
      grid-column: 3/4;
      grid-row: 2/3;
   }
   &__8 {
      grid-column: 4/5;
      grid-row: 2/3;
   }
}**/

   .foto1{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      background-color: rgb(204, 69, 69);
   }
   .foto__item1{
      width: 25%;
      height: 350px;
      position: relative;
      overflow: hidden;
      border: 2px solid #10c9c3;
   }
   .foto__item1 :hover {
      opacity: 0.1;
      transition: all .3s linear;
   }
   .foto__img1{
      position: absolute;
      top:50%;
      left: 50%;
      z-index: 1;
      transform: translate3d(-50%,-50%,0);
   }
.wrapper {
   height: 100px;
   background-color: #f5f5f5;
}
a {
   text-transform: uppercase;
   letter-spacing: 2px;
   color: #8e8e8e;
   transition: background 0.5s linear;
}
.wrapper a:hover {
   background-color: rgb(253, 252, 169);
}
.loading {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
}
.ourvideo {
   display: block;
   position: relative;
   height: 870px;
   margin-top: 198px;

   &__title {
      font-size: 30px;
      font-weight: 700;
      color: #191919;
      margin-bottom: 40px;
   }

   &__text {
      font-size: 16px;
      color: #8e8e8e;
      font-family: "Nunito Sans", sans-serif normal;
      line-height: 24px;
      margin-bottom: 56px;
   }
}
.ourvideo__wrapper {
   width: 508px;
   margin: 0 auto;

   text-align: center;
}
.video {
   margin-left: 99px;
  
 
}

.directions {
   height: 535px;
   background-color: rgb(255, 252, 239);
   padding-top: 1px;
}
.directions__wrap {
   display: block;
   width: 1135px;
   height: 335px;
   margin: 100px 120px;
}
.directions__inner {
   display: flex;
   justify-content: space-between;
   padding-bottom: 48px;
}
.directions__inner1 {
   display: flex;
   justify-content: space-between;
}
.directions__inner div {
   display: flex;
   flex-direction: column;
   position: relative;
   justify-content: center;
   width: 235px;
}
.directions__inner h4 {
   font-size: 12px;
   font-family: "Montserrat";
   color: rgb(25, 25, 25);
   text-transform: uppercase;
   line-height: 2.5;
   font-weight: 700;
   text-align: center;
}
.directions__inner p {
   font-size: 16px;
   font-family: "Nunito Sans";
   color: rgb(120, 120, 120);
   line-height: 1.5;
   text-align: center;
}
.directions__inner img {
   position: relative;
   padding-bottom: 24px;
   margin: 0 auto;
   z-index: 1;
}
.directions__inner1 div {
   display: flex;
   flex-direction: column;
   position: relative;
   justify-content: center;
   width: 235px;
}
.directions__inner1 h4 {
   font-size: 12px;
   font-family: "Montserrat";
   color: rgb(25, 25, 25);
   text-transform: uppercase;
   line-height: 2.5;
   font-weight: 700;
   text-align: center;
}
.directions__inner1 p {
   font-size: 16px;
   font-family: "Nunito Sans";
   color: rgb(120, 120, 120);
   line-height: 1.5;
   text-align: center;
}
.directions__inner1 img {
   position: relative;
   padding-bottom: 24px;
   margin: 0 auto;
}
.quote {
   height: 500px;
   background: #10c9c3;
}
.slider {
   display:flex;
   margin: auto;
   align-items: center;
   
   width: 830px;
   height: 500px;
   margin: 0 auto;
   &__lead {
      font-size: 24px;
      font-family: "Montserrat";
      color: rgb(52, 77, 187);
      line-height: 1.2;
      position: relative;
      padding-bottom: 36px;
      text-align: center;

   }
   &__lead:hover{
      cursor: pointer;
   }
   &__avt {
      font-size: 12px;
      font-family: "Montserrat";
      color: rgb(255, 0, 13);
      text-transform: uppercase;
      line-height: 3;
      text-align: center;
   }
}
.slick-dots{
   width: 50px;
   height: 50px;
}
.slider__item{
   // margin: auto;
    align-items: center;

}
.brands {
   height: 200px;
   &__inner {
      display: flex;
      width: 1105px;
      justify-content: space-between;
      margin: 0 auto;
      padding-top: 64px;
   }
}
.form {
   height: 750px;
   background: rgba(170, 253, 15, 0.151);
   &__inner {
      display: block;
      width: 545px;
      padding-top: 100px;
      margin: 0 auto;
      padding-bottom: 40px;
   }
   &__inner1 {
      display: block;
      width: 675px;
      margin: 0 auto;
   }

   &__lead {
      font-size: 16px;
      font-family: "Nunito Sans";
      color: rgb(120, 120, 120);
      line-height: 1.5;
      text-align: center;
   }
}
.project {
   font-size: 30px;
   font-family: "Montserrat";
   color: rgb(29, 29, 29);
   line-height: 2.8;
   text-align: center;
}
// Форма отправки ~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~>
.form__inner1 button {
   display: inline-block;
   padding: 20px 34px;
   background-color: #10c9c3;
   border-radius: 3px;
   color: #ffffff;
   text-transform: uppercase;
   letter-spacing: 1px;
   transition: background 0.2s linear;
   margin: 40px 0 0 240px;
}
.form__inner1 button:hover {
   background-color: #30aaa8d7;
   color: rgba(#111, 0.4);
}
p input {
   font-size: 15px;
   font-family: "Nunito Sans";
   color: rgb(56, 56, 56);
   background-color: none;
   line-height: 1.6;
   padding: 14px 0;
  // transition: all .5s linear;
}
 p input:hover{

   border: orange 1px solid;
 }
// form{
   
// }
#e {margin-left: 32px;}
.area{
   width: 660px;
   height: 48px;
   //resize: none;
   margin-top: 30px;
   padding-top:17px ;
   padding-left: 17px;
   font-size: 15px;
}
textarea {
   width: 660px;
   height: 170px;
   resize: none;
   margin-top: 30px;
   padding-top: 17px;
   padding-left: 17px;
   font-size: 15px;
   color: rgb(56, 56, 56);
}
textarea:hover{

   border: orange 1px solid;
 }
// Футер  -)(- -)(- -)(- -)(- -)(- -)(- -)(- -)(-
.footer {
   height: 285px;
   margin: 0 auto;
   background: #000;
}
.footer__inner {
   width: 1140px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding-top: 95px;
   font-size: 15px;
   font-family: "Nunito Sans";
   color: rgb(188, 188, 188);
   line-height: 1.6;
   text-align: left;
}
.copyright__item {
   font-size: 18px;
   font-family: "Montserrat";
   color: #ffffff;
   padding-bottom: 28px;
} 
.footer__inner a{
font-size: 15px;
text-transform: none;
letter-spacing: normal;
font-weight: 600;
font-family: "Nunito Sans";
color: rgb(149, 146, 146);
line-height: 1.6;
}
.footer__inner a:hover{
   color: rgb(190, 0, 0);
}

// Страница portfolio <=>=<=>=<=>=<=>=<=>=<=>=<=>=<=>
.foto{
   display: flex;
   flex-wrap: wrap;
   width: 1366px;
   margin: 0 auto;
   margin-top: -500px;
   background-color: #aafffc86;
}
.foto__item{
   width: 100%;
   height: 800px;
   z-index: 3;
   position: relative;
   border: #11c7c1c9 3px solid;
   overflow: hidden;
}
.foto__item img{
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 3;
   transform: translate3d(-50%,-50%,0);
}
